/* All pages */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(./../img/grayBricks.jpg);
}

header {
  font-size: 18px;
  background-color: rgb(240, 242, 255);
}

footer {
  margin-top: auto;
  background-color: rgb(240, 242, 255);
}

a {
  color: black;
  text-decoration: none;
}

#logout {
  display: none;
}

main {
  height: 70vh;
}

/* index.html */

#play,
#new,
#continue {
  background-color: rgb(206, 230, 234);
}

/* Register and Login */

form {
  background-color: rgb(234, 206, 206);
}

form a {
  color: black;
}

.form-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0;
  border: 0;
  background-color: transparent;
  font-size: 20px;
}

.form-control.correct input {
  border-color: #2ecc71;
}

.form-control.error input {
  border-color: #e74c3c;
}

.form-control small {
  display: none;
  color: #e74c3c;
}

.form-control.error small {
  display: block;
}

/* First Escape Room */

.fistStage {
  background-image: url(./../img/firstStage.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.secondStage {
  background-image: url(./../img/secondStage.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.home {
  background-color: #505457;
}

#codeClick {
  position: absolute;
  top: 310px;
  left: 1080px;
  width: 60px;
  height: 130px;
  background-color: #505457;
  border: 1px solid #2ecc71;
}

.divPopup {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 1;
}

.popup {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 100%;
  max-width: 300px;
  margin: 10% auto;
  background: white;
  padding: 20px;
  position: relative;
}

.popup a {
  background: crimson;
  color: white;
  text-decoration: none;
  padding: 6px 10px;
}

.closePopup {
  position: absolute;
  top: 5px;
  right: 8px;
  cursor: pointer;
}

.popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 240px;
  background-color: rgb(62, 77, 165);
}

#codeScreen {
  width: 200px;
  height: 40px;
  margin-top: 10px;
  background-color: rgb(122, 207, 128);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

#numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 20px;
  width: 150px;
  margin-top: 25px;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  margin: 5px;
  background-color: #505457;
  color: white;
  cursor: pointer;
}

.confirm {
  background-color: #2ecc71;
}

.delete {
  background-color: #e74c3c;
}

#game {
  display: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 490px;
  margin-top: 100px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
  background-color: rgb(105, 105, 102);
  z-index: 1;
}

#message {
  color: white;
}

.card {
  width: 90px;
  height: 150px;
  margin: 5px;
  border-radius: 10px;
  background-image: url(./../img/switchOff.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 35px;
  cursor: pointer;
}

.card p {
  display: none;
  color: rgb(255, 255, 0);
  font-size: 28px;
}

.checked {
  cursor: default;
  background-image: url(./../img/switchOn.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.checked p {
  display: block;
}

.note {
  display: flex;
  justify-content: center;
}

.note > div {
  width: 500px;
  padding: 10px;
  background-image: url(./../img/note.png);
}
.win{
  background-color: rgb(240, 242, 255);
}